@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


/* ROOT BACKGROUND*/

.gradient-bg::before,
.gradient-bg::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.5;
    z-index: 0;
}

/* DARK MODE */
[data-theme="dark"] .gradient-bg::before {
    background: linear-gradient(135deg, #a78bfa, #8b5cf6, #ec4899);
    top: 10%;
    left: 10%;
}

[data-theme="dark"] .gradient-bg::after {
    background: linear-gradient(135deg, #3b82f6, #60a5fa, #2563eb);
    top: 30%;
    right: 5%;
}

/* LIGHT */
[data-theme="light"] .gradient-bg::before {
    background: linear-gradient(135deg, #a5b4fc, #8b5cf6, #ec4899);
    top: 10%;
    left: 10%;
}

[data-theme="light"] .gradient-bg::after {
    background: linear-gradient(135deg, #4ade80, #10b981, #22c55e);
    top: 30%;
    right: 5%;
}