@font-face { /*TITULOS IMPORTANTES*/
    font-family: 'SuperMario256';
    src: url(../../scr/assets/fonts/SuperMario256.ttf);
}
@font-face {/*TITULOS*/
    font-family: 'Bitter';
    src: url(../../scr/assets/fonts/Bitter-Regular.otf);
} 
@font-face {/*TITULOS*/
    font-family: 'Bitter-Italic';
    src: url(../../scr/assets/fonts/Bitter-Regular.otf);
    src: url(../../scr/assets/fonts/Bitter-BoldItalic.otf);
    src: url(../../scr/assets/fonts/Bitter-Italic.otf);
} 
@font-face {/*LETRAS*/
    font-family: 'SourceCode';
    src: url(../../scr/assets/fonts/SourceCodePro-Regular.otf);
}
@font-face {/*LETRAS*/
    font-family: 'SourceCode-Bold';
    src: url(../../scr/assets/fonts/SourceCodePro-Bold.otf);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    background-image: linear-gradient(180deg, #181818 20%,  #0b0b0be5, #070707e5 60%);
    background-size: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
   
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center  ;
    justify-content: flex-start;
}
   
footer {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

footer nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 25px;
}

footer a{
    transition: all linear  0.2s;
    -webkit-transition: all linear  0.2s;
    -moz-transition: all linear  0.2s;
    -ms-transition: all linear  0.2s;
    -o-transition: all linear  0.2s;

    filter: drop-shadow();
    -webkit-filter: drop-shadow(7px 3px 5px #000000);
}

footer a:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    filter: drop-shadow();
    -webkit-filter: drop-shadow(-1px 1px 5px #ff7bf4);
}


/*Separator*/
.Separator{
    width: 100%; 
    height: 2px; 
    border-radius: 5px;  
    background-image: linear-gradient(90deg, #f713ec,  #ffffffe5, #f713ec);
    margin-top: 20px; 
    margin-bottom: 20px;
}

@media (max-width:800px) {
    .balls-container {
        display: none;
    }
    
}

/*SCROLL BAR*/
::-webkit-scrollbar-button{
    display: none;
}
::-webkit-scrollbar{
    width: 5px;
    height: 2px;
    background-color: #181818;
}

::-webkit-scrollbar-thumb{
    background-color: #ffffff;

    border-radius: 35px;
}

