/*FavIcon*/
.favicon{
    width: 175px;
    height: 175px;
    border-radius: 100%;
    filter: drop-shadow(0 0 10px rgba(174, 56, 243, 0.356));
}

#writeText{
    font-size: 2rem;
    color: var(--color-white);
    font-family: 'POSTERABLE';
    font-weight: 300;
    text-shadow: 0px 0px 15px rgba(204, 144, 238, 0.356);
    margin: 40px
}


/*PRESENTATION OF MY SELF*/
#selfPresentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    
}

#selfPresentation h2{
    font-size: 2.5rem;
    font-family: "POSTERABLE", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    color: var(--color-white);
    text-align: center;

    margin: 40px;
    margin-bottom: 100px;  
}

#presentationBody{
    width: 60%;
    height: auto;
    color: var(--color-white);
}

#presentationBody h3{
    font-family: "OldNewspaperTypes";
    font-size: 1.4rem;
}
#presentationBody h4{
    font-family: "OldNewspaperTypes";
    font-size: 1rem;
    transform: translateX(10px);
}

#presentationBody p{
    text-align: justify;
    font-size: 1.4rem;
    font-family: "Fragmentcore";
    font-weight: bold;
    padding: 20px;
}

#presentationBody a{
    color: white;
    font-size: 1.2rem;
}

.github-stats{
    width: 50%;
    height: 50%;
}

@media (max-width:480px) {
    #writeText{
        display: none;
    }

    #presentationBody h2{
        color: white;
        font-size: 10px;
    }

    .github-stats{
        width: 80%;
        height: 80%;
    }

}

@media (max-width:480px) {
    #writeText{
        display: none;
    }

    #presentationBody h2{
        color: white;
        font-size: 10px;
    }

    .github-stats{
        width: 100%;
        height: 100%;
    }

}

