@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-roboto: "Roboto Mono", monospace;
  --normal-cursor: url("assets/cursor/normal.cur"), auto;
  --pointer-cursor: url("assets/cursor/precision.cur"), auto;
  --text-cursor: url("assets/cursor/text.cur"), auto;
  --link-cursor: url("assets/cursor/link.cur"), auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: var(--normal-cursor);
}

a {
  cursor: var(--link-cursor);
}

button {
  cursor: var(--pointer-cursor);
}

html {
  cursor: url("assets/cursor/normal.cur"), auto;
}

/* ROOT BACKGROUND*/

.gradient-bg::before,
.gradient-bg::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.5;
  z-index: 0;
}

/* DARK MODE */
[data-theme="dark"] .gradient-bg::before {
  background: linear-gradient(135deg, #a78bfa, #8b5cf6, #ec4899);
  top: 10%;
  left: 10%;
}

[data-theme="dark"] .gradient-bg::after {
  background: linear-gradient(135deg, #3b82f6, #60a5fa, #2563eb);
  top: 30%;
  right: 5%;
}

/* LIGHT */
[data-theme="light"] .gradient-bg::before {
  /* Tonos pastel de lila a rosa */
  background: linear-gradient(135deg, #b266d6, #c2a0ff, #db8f8f);
  top: 10%;
  left: 10%;
}

[data-theme="light"] .gradient-bg::after {
  /* Tonos suaves de verde a azul */
  background: linear-gradient(135deg, #69cd8c, #6b9bc3, #adadff);
  top: 30%;
  right: 5%;
}

.card {
  border-radius: 10px;
  box-shadow: 4px 6px 10px rgba(245, 245, 245, 0.25);
}

[data-theme="light"] .card {
  background: linear-gradient(
    135deg,
    rgba(180, 180, 180, 0.3),
    rgba(170, 170, 170, 0.3),
    rgba(160, 160, 160, 0.3)
  );
}

[data-theme="dark"] .card {
  background: linear-gradient(
    135deg,
    rgba(120, 120, 120, 0.3),
    rgba(103, 103, 103, 0.3),
    rgba(96, 96, 96, 0.3)
  );
}
