@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-roboto: 'Roboto Mono', monospace;
    --normal-cursor: url('assets/cursor/normal.cur'), auto;
    --pointer-cursor: url('assets/cursor/precision.cur'), auto;
    --text-cursor: url('assets/cursor/text.cur'), auto;
    --link-cursor: url('assets/cursor/link.cur'), auto;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    cursor: var(--normal-cursor);
}

a {
    cursor: var(--link-cursor)
}

button {
    cursor: var(--pointer-cursor)
}

html {
    cursor:url('assets/cursor/normal.cur'), auto;
}

/* ROOT BACKGROUND*/

.gradient-bg::before,
.gradient-bg::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.5;
    z-index: 0;
}

/* DARK MODE */
[data-theme="dark"] .gradient-bg::before {
    background: linear-gradient(135deg, #a78bfa, #8b5cf6, #ec4899);
    top: 10%;
    left: 10%;
}

[data-theme="dark"] .gradient-bg::after {
    background: linear-gradient(135deg, #3b82f6, #60a5fa, #2563eb);
    top: 30%;
    right: 5%;
}

/* LIGHT */
[data-theme="light"] .gradient-bg::before {
    /* Tonos pastel de lila a rosa */
    background: linear-gradient(135deg, #e6b0ff, #c2a0ff, #ffadad);
    top: 10%;
    left: 10%;
}

[data-theme="light"] .gradient-bg::after {
    /* Tonos suaves de verde a azul */
    background: linear-gradient(135deg, #a0ffc2, #a0d4ff, #adadff);
    top: 30%;
    right: 5%;
}